NODE_ENV=development
PORT=8080
X_API_KEY=
SWAGGER_ENABLED=false
CORS_ORIGINS=
TYPEORM_LOGGING=false
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=mo_lk_assessment
DEVICE_COOKIE_MAX_AGE_SEC=
DEVICE_COOKIE_SECURE=
DEVICE_COOKIE_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
